{# tailwindcss Sliding pagination control implementation #}
{% if pageCount > 1 %}
    {% if previous is defined %}
        <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="flex-1
               text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex
               items-center justify-center rounded-lg text-sm px-3 py-2 text-center">
            <svg class="-ml-1 mr-1 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
            </svg>
            Vorige</a>
    {% endif %}


    {% for page in pagesInRange %}
        {% if page != current %}
            <span class="bg-white text-black px-3 py-2 font-bold text-sm rounded-lg">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </span>
        {% else %}
            <span class="bg-cyan-600 text-white px-3 py-2 text-sm font-bold rounded-lg">{{ page }}</span>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"
           class="flex-1 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center">
            Volgende
            <svg class="-mr-1 ml-1 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    {% endif %}
{% endif %}