{% extends 'frontend/theme/base.html.twig' %}

{% block title %}Registrations{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-4 px-4 pt-6">
        <div class="col-span-full mb-4 xl:mb-2">
            <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">Inschrijving team bewerken</h1>
        </div>

        <div class="col-span-4">
            <div class="mb-4 card">
                <h3 class="text-xl font-bold mb-4">{{ registration.team.name|default('Nieuwe registratie') }}</h3>
                {{ include('frontend/registrations/_form.html.twig') }}
                <button id="save-button"
                        class="mt-4 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-5 py-4 text-center"
                        type="submit">
                    Opslaan
                </button>
            </div>

            <div id="cost-overview" class="mb-4 card">
                <h3 class="text-xl font-bold mb-4">Kostenoverzicht</h3>
                <div class="rounded-lg w-full shadow-lg p-5 mt-8 mx-4 sm:mx-0 bg-white">
                    <hr class="my-4">
                    <div class="overflow-x-auto">
                        <div class="align-middle inline-block min-w-full">
                            <div class="shadow overflow-hidden">
                                <table class="table-auto w-full text-left">
                                    <thead>
                                    <tr>
                                        <th class="px-4 py-2">Item</th>
                                        <th class="px-4 py-2">Aantal</th>
                                        <th class="px-4 py-2">Prijs</th>
                                    </tr>
                                    </thead>
                                    <tbody id="total_price_table">
                                    <tr class="hover:bg-gray-50">
                                        <td class="px-4 py-2">Inschrijfgeld p.p.</td>
                                        <td class="px-4 py-2"><span id="total_dancers">0</span>x</td>
                                        <td class="px-4 py-2">€ {{ Contest.registrationFee }}</td>
                                    </tr>
                                    <tr>
                                        <td class="px-4 py-2"></td>
                                        <td class="px-4 py-2"></td>
                                        <td class="px-4 py-2">
                                            <hr class="my-4">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-4 py-2"></td>
                                        <td class="px-4 py-2">Totaal bedrag</td>
                                        <td class="px-4 py-2">€ <span id="grand_total">0.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-4 py-2"></td>
                                        <td class="px-4 py-2">Reeds betaald</td>
                                        <td class="px-4 py-2">- € <span
                                                    id="payed_total">{% if totalPayed is defined %}{{ totalPayed|number_format(2, '.', ',') }}{% endif %}</span>
                                        </td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-4 py-2 font-bold"></td>
                                        <td class="px-4 py-2 font-bold">Nog te voldoen</td>
                                        <td class="px-4 py-2 font-bold">
                                            <hr class="my-4">
                                            € <span
                                                    id="left_total">00,00</span></td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- button aligned right -->
                                <div class="flex justify-end">
                                    <button id="pay-button"
                                            class="mt-4 mr-4 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-5 py-4 text-center"
                                            type="submit">
                                        Afrekenen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ include('/theme/_modal.html.twig') }}
            </div>
        </div>
    </div>
    <script>
        const targetNode = document.getElementById('registrations');
        const config = {attributes: true, childList: true, subtree: true};

        const callback = function () {
            setTimeout(function () {
                calculateTotalPrice();
            }, 100);
        };
        const observer = new MutationObserver(callback);
        observer.observe(targetNode, config);

        function calculateTotalPrice() {
            let dancers_count = document.getElementsByClassName("plugin-remove_button")[0].getElementsByClassName('item').length;
            let total = dancers_count * '{{ Contest.registrationFee }}';
            let payed_total = document.getElementById('payed_total').innerText;

            if (payed_total >= total) {
                document.getElementById('pay-button').style.display = 'none';
                document.getElementById('cost-overview').style.display = 'none';
                document.getElementById('save-button').style.display = 'block';
            } else {
                document.getElementById('pay-button').style.display = 'block';
                document.getElementById('cost-overview').style.display = 'block';
                document.getElementById('save-button').style.display = 'none';
                document.getElementById('left_total').innerHTML = (total - payed_total).toFixed(2);

            }

            document.getElementById('total_dancers').innerHTML = dancers_count;
            document.getElementById('grand_total').innerHTML = total.toFixed(2);

            document.getElementById('save-button').addEventListener('click', function () {
                document.querySelectorAll('[name="registrations"]')[0].submit();
            });

            document.getElementById('pay-button').addEventListener('click', function (event) {
                window.location.href = '/frontend/makepayment/{{ registration.id }}/'+(total - payed_total);
            });


        }
    </script>
{% endblock %}
