{% extends 'base.html.twig' %}

{% block title %}Dancers index{% endblock %}

{% block body %}
    <h1>Dancers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>SecondName</th>
                <th>LastName</th>
                <th>BirthDay</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dancer in dancers %}
            <tr>
                <td>{{ dancer.id }}</td>
                <td>{{ dancer.FirstName }}</td>
                <td>{{ dancer.SecondName }}</td>
                <td>{{ dancer.LastName }}</td>
                <td>{{ dancer.BirthDay ? dancer.BirthDay|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('dancers_show', {'id': dancer.id}) }}">show</a>
                    <a href="{{ path('dancers_edit', {'id': dancer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dancers_new') }}">Create new</a>
{% endblock %}
