{# TODO: let each dancer have its own page with qr and details #}
<head>
    <title>Ticket {{ registration.Team.Name }}</title>
    <style>
        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            page-break-after: always;
        }

        .page:last-of-type {
            page-break-after: auto
        }

        body {
            font-family: Helvetica;
            -webkit-font-smoothing: antialiased;
        }

        h2 {
            text-align: left;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: black;
            padding: 30px 0;
        }

        .fl-table {
            border-radius: 5px;
            font-size: 18px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            background-color: white;
        }

        .fl-table td, .fl-table th {
            padding: 8px;
            text-align: left;
        }

        .item-ticket {
            padding-bottom: 400px;
            padding-top: 400px;
        }

        .fl-table td {
            font-size: 18px;
        }

        .fl-table thead th {
            color: #fff;
            background: #178CAD;
        }
    </style>
</head>

{% block body %}
    <div class="page">
        <h1>NNKS Tickets team: {{ registration.Team.Name }}</h1>
        {% set value = registration.Team.User %}
        <h3>Dansschool: {{ value.Dansschool }}</h3>

        <ul style="list-style: none; padding-left: 0;">
            <h4 style="margin-bottom: 0px;">{{ registration.Contest.Name }}</h4>
            <li>Datum: {{ registration.Contest.Date|date('d-m-Y') }}</li>
            <li>Locatie: {{ registration.Contest.Location }}</li>
            <li></li>
        </ul>

        <h3>Trainer: {{ registration.Team.TrainerName }}</h3>
    </div>

    <div class="table-wrapper">
        {% for dancer in dancers %}
            <div style="text-align: center" class="page">
                <div style="font-size: 40px;">Ticket van: {{ dancer.Firstname }} {{ dancer.SecondName }} {{ dancer.LastName }} </div>
                <div style="margin-top: 20px;"><img width="500"
                          src="{{ qr_code_data_uri(url('eventscan_scan', {contest: registration.contest.id, dancer: dancer.id})) }}"/>
                </div>
                <div style="font-size: 40px;">Geboorte datum: {{ dancer.BirthDay|date('d-m-Y') }}</div>

            </div>
        {% endfor %}
    </div>
{% endblock %}